.card {
  width: 300px;
  height: fit-content;
  border: 1px solid #bbb;
  padding: 35px 25px 25px;
  border-radius: 5px;
  margin: 10px 0px;
  box-shadow: 1px 1px 8px rgb(151, 149, 149);
  position: relative;
  background-color: white;
}

.card__like{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(224, 104, 104);
  border: none;
  cursor: pointer;
}

.card__like:hover{
  color: rgb(232, 72, 72);
  width: 33px;
  height: 33px;
  font-size: 1.3rem;
}

.card__image_container {
  width: 100%;
  height: 200px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__image{
  max-width:200px ;
  max-height: 100%;
  border-radius: 5px;
}

.card__separator{
  margin-bottom: 15px;
  border: 1px solid #eee;
}

.card__upper__price{
  font-size: 1rem;
  color: rgb(102, 101, 101);
  display: flex;
  width: 100%;
}

.card__upper__price .decimal {
  font-size: 0.7rem;
  padding-left: 2px;
  padding-top: 2px;
}

.card__line__through{
  width: 30%;
  position: relative;
  top: -10px;
}

.card__price {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 6px;
  padding-bottom: 6px;
  display: flex;
}

.card__price .decimal {
  font-size: 0.8rem;
  padding-right: 10px;
  padding-left: 2px;
  padding-top: 5px;
}

.card__price .discount {
  font-size: 0.9rem;
  margin-right: 4px;
  color: rgb(0, 184, 0);
  align-self: end;
  padding-bottom: 4px;

}

.card__credit{
  font-size: 0.8rem;
  align-self: end;
  padding-bottom: 3px;
  font-weight: 400;
}

.card__credit{
  margin-right: 5px;
}

.card__shipping{
  font-size: 0.7rem;
  align-self: end;
  font-weight: 500;
  color: rgb(0, 184, 0);
  border: 1px solid rgb(0, 184, 0);
  width: fit-content;
  padding: 1px 5px 2px;
  border-radius: 2px;
  margin-top: 3px;
}

.card__title{
  padding-top: 16px;
  font-size: 0.8rem;
  font-weight: 400;
  color: #555;
  padding-bottom: 10px;
}

.card__title:hover{
  color: #000;
}

.card__duration{
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(213, 10, 10);
  margin: 16px 0 0;
}

.card__button{
  margin-top: 0;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(224, 104, 104);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.card__button:hover{
  background-color: rgb(232, 72, 72);
}

.disabled{
  background-color: rgb(224, 104, 104, 0.5);
}

.hidden{
  display: none;
}
